






body {
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(/Assets/img/fondo.avif);
  background-repeat: no-repeat;
  background-size: 115%, 90%;
  background-position: center;
  
}




#main-canvas {
  border-radius: 20px;
 
}

.button-start {
  color: white;
  background-color: black;
}


.button-pause {
  color: white;
  background-color: black;
  


}













